<%= form_for @disaster do |f| %>
	<%= f.label :title, "標題" %>
	<%= f.text_field :title %>

	<%= f.label :content, "內容" %>
	<%= f.text_area :content %>
	
	<%= f.label :category_id, "分類" %>
	<%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]} %>

	<%= f.submit %>

<% end %>

<ul>
	<% @disasters.each do |disaster| %>
		<li>
			<%= link_to disaster.title, disaster_path(disaster) %>
			<%= disaster.created_at %>
			<%= link_to "編輯", disasters_path(id: disaster.id) if disaster.user == current_user %>
			<%= link_to "刪除", disaster_path(disaster), method: :delete if disaster.user == current_user %>
		</li>
	<% end %>
</ul>
